[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/ImaNimrod/based-nvim.git
[submodule ".local/src/dwm"]
	path = .local/src/dwm
	url = https://github.com/ImaNimrod/dwm.git
[submodule ".local/src/dmenu"]
	path = .local/src/dmenu
	url = https://github.com/ImaNimrod/dmenu.git
[submodule ".local/src/st"]
	path = .local/src/st
	url = https://github.com/ImaNimrod/st.git
[submodule ".local/src/dwmstatus"]
	path = .local/src/dwmstatus
	url = https://github.com/ImaNimrod/dwmstatus.git
